@import "../../style.scss";

.singlePost {
  @include themify($themes) {
    margin: 10px 30px;
    padding: 30px 30px 30px;
    color: themed("textColor");
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: themed("bg");
    border-radius: 20px;

    @include mobile {
      padding: 10px;
      margin: 10px;
    }
    .user {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .userInfo {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
        .details {
          display: flex;
          flex-direction: column;

          span {
            color: themed("textColor");
            font-size: larger;
          }
          .date {
            color: gray;
            font-size: small;
          }
        }
      }
      .hamburger{
        cursor: pointer;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px 0px 15px 0px;
      p {
        font-size: medium;
      }
      img {
        width: 100%;
        border-radius: 20px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 10px;
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }
      }
      .right {
        padding: 20px 10px;
        cursor: pointer;
      }
    }
  }
}
