* {
  margin: 0;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;

  .card {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    .left {
      flex: 1;
      padding: 40px;
      color: white;
      background-image: linear-gradient(#d9d9d923, #d9d9d92f),
        url("../../../public//assests/img1.png");
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      h1 {
        font-size: 90px;
      }
      p {
        color: white;
      }
    }
    .right {
      font-family: "Poppins", sans-serif;
      flex: 1;
      width: 50%;
      padding: 7%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .input {
          display: flex;
          align-items: center;
          gap: 20px;
          width: 93%;
          border: 0.5px solid #e0e2e9;
          padding: 5px 20px;
          border-radius: 8px;
          input {
            width: 100%;
            padding: 10px;
            border: none;
          }
          input:focus {
            outline: none;
          }
        }
        .error {
          background-color: #f3d8da;
          padding: 10px;
          width: 96%;
          text-align: center;
          border: 1px solid #eca5aa;
          border-radius: 8px;
        }

        button {
          width: 100%;
          padding: 15px;
          background-color: #002549;
          color: white;
          border: none;
          cursor: pointer;
          font-weight: bold;
          border-radius: 8px;
        }

        span {
          color: #0062ff;
          font-weight: 600;
          font-size: 15px;
          cursor: pointer;
        }

        .or {
          color: gray;
          font-size: small;
        }

        img {
          cursor: pointer;
        }
      }
    }
  }
}
