* {
  margin: 0;
}

.register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  .card {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    .left {
      color: white;
      flex: 0.7;
      padding: 40px;
      background-image: url("../../../public//assests/img3.png");
      background-size: cover;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        size: 30px;
      }
      button {
        width: 50%;
        padding: 10px;
        background-color: white;
        border: none;
        margin-top: 40px;
        cursor: pointer;
        font-weight: bold;
      }
    }
    .right {
      flex: 1.3;
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      color: #2d3748;
      font-size: 14px;
      h1 {
        font-weight: bold;
        font-size: 40px;
      }
      p {
        font-size: 17px;
        color: #2d3748;
      }

      span {
        color: #007aff;
        cursor: pointer;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .fields {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          input {
            border: none;
            border: 0.5px solid #e0e2e9;
            padding: 10px 20px;
            border-radius: 8px;
          }
          input:focus {
            outline: none;
          }
        }
        .checkbox {
          input {
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
        .error {
          background-color: #f3d8da;
          padding: 10px;
          width: 95%;
          color: black;

          text-align: center;
          border: 1px solid #eca5aa;
          border-radius: 8px;
          cursor: default;
        }
        .success {
          background-color: #d8f3d8;
          padding: 10px;
          width: 95%;
          color: black;
          text-align: center;
          border: 1px solid #a5ecba;
          border-radius: 8px;
          cursor: default;
        }
        .buttons {
          display: flex;
          gap: 20px;
          justify-content: center;
          align-items: center;
          button {
            width: 350px;
            padding: 15px;
            background-color: #002549;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
            border-radius: 8px;
          }
          .goolge {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            border: 1px solid #c8ccd8;
            padding: 13px;
            width: 350px;
            border-radius: 8px;

            img {
              width: 20px;
            }
          }
        }
      }
    }
  }
}
